{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <p><b>Username</b>: {{ username }}</p>
    <p><b>Password</b></p>
    <form action="/account" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
