{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block main %}
    <div class="card" style="width: 36rem;">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.text }}</p>
        </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush">
                {% for comment in comments %}
                <li class="list-group-item">{{ comment.text }}</li>
                {% endfor %}
            </ul>
        </div>        
    </div>
    <a href="/comment/{{ post.id }}"><button class="btn btn-primary">Add a comment</button></a>
{% endblock %}
