{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
    {% for post in posts %}
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5> 
            <h6 class="card-subtitle mb-2 text-muted">Up votes: {{ post.up_votes }}</h6>
            <p class="card-text">{{ post.text }}</p>
            <br>
            <ul class="list-group list-group-flush">
            {% for comment in comments %}
                {% if comment.post_id == post.id  %}
                    <li class="list-group-item">{{ comment.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        </div>
        <div class="card-footer">
            <a href="/comment/{{ post.id }}" class="card-link">
                <button class="btn btn-primary">Add a comment</button>
            </a>
        </div>        
    </div>
    {% endfor %}
{% endblock %}
